.app {
  padding: 0 20px 0 240px;
  /* margin: 0 20px 0 240px; */
  overflow-y: overlay;
  height: 100vh;
  scroll-behavior: smooth;
}

.app-page {
  padding: 70px 0px 20px 20px;
  height: 100%;
}

.app::-webkit-scrollbar {
  width: 3px;
  border-radius: 2px;
  background-color: transparent;
}

.app::-webkit-scrollbar-thumb {
  background-color: #888;
}

.app_sidebar {
  width: 240px;
  height: 100vh;
  background-color: var(--sidebar-bg);
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
}

.app_sidebar-logo img {
  width: 135px;
  height: 32px;
  margin: 15px auto 20px 20px;
}

/* Page ca nhan , theo doi v.v.... */

.Page {
  display: none;
}

.Page.Active {
  display: block;
}

/* Page Khám phá */

.explore {
  width: 100%;
  height: 2000px;
}

.Explore-Slide {
  width: 100%;
  height: 220px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}

.Explore-Slide-container {
  width: 100%;
  height: 100%;
}

.Explore-Slide-content {
  overflow-x: auto;
  scroll-behavior: smooth;
}

.Explore-Slide-content::-webkit-scrollbar {
  display: none;
}

.Slide-img {
  height: 100%;
  cursor: pointer;
}

.Slide-img.first {
  transform: translate3d(100%, 0, 20px) scale(0.9);
  opacity: 0.2;
}

.Slide-img.second {
  transform: translate3d(-100%, 0, 0) scale(1);
}

.Slide-Item {
  width: 100%;
  padding-top: 55%;
  border-radius: 8px;
  display: inline-block;
}

.Explore-Slide-Control {
  display: none;
  position: absolute;
  width: 100%;
  height: 65px;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
}

.Explore-Slide:hover .Explore-Slide-Control {
  display: flex;
}

.Next-Slide,
.Prev-Slide {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--bg-content);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  font-size: 25px;
  cursor: pointer;
}

/*Thanh sidebar ben trai*/

.app_sidebar-list {
  list-style: none;
}

.subnav-menu-sidebar {
  overflow-y: scroll;
}

.subnav-menu-sidebar {
  list-style: none;
  margin-top: 30px;
}

.subnav-menu-sidebar.shawdow {
  -webkit-mask-image: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.8) 10%,
    #fff 25%
  );
}

.subnav-menu-sidebar:hover::-webkit-scrollbar-thumb {
  background-color: #888;
}

.subnav-menu-sidebar::-webkit-scrollbar {
  width: 4px;
}

.subnav-menu-sidebar::-webkit-scrollbar-track {
  background-color: transparent;
}

.subnav-menu-sidebar::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: transparent;
}

.subnav-menu-sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

.sidebar-buy-vip {
  width: 200px;
  height: 95px;
  background-image: linear-gradient(117deg, #5a4be7, #c86dd7 102%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: var(--text-color);
  font-size: 1.3rem;
  font-weight: 500;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}

.sidebar-buy-vip button {
  border-radius: 20px;
  background-color: yellow;
  width: 90px;
  height: 30px;
  border: 1px solid white;
  margin-top: 10px;
}

.subnav-menu-sidebar_library {
  width: 200px;
  height: 100px;
  list-style: none;
}

.subnav-menu-sidebar_library-link {
  text-decoration: none;
  color: var(--text-color);
}

.sidebar-create-playlist {
  width: 100%;
  height: 54px;
  border-top: 1px solid var(--bg-content);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--text-color);
  padding: 20px 0;
}

.app_sidebar-item {
  padding-left: 30px;
  height: 38px;
  display: flex;
  align-items: center;
  position: relative;
}

.app_sidebar-item-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
}

.app_sidebar-list .app_sidebar-item:last-child::after {
  content: "";
  border: 1px solid var(--bg-content);
  width: 186px;
  position: absolute;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
}

.app_sidebar-item.active {
  background-color: var(--bg-content);
  border-left: 2px solid red;
}

.app_sidebar-item-link i {
  font-size: 2.2rem;
}

.app_sidebar-item-link span {
  margin-left: 6px;
}

.app_sidebar-item-link span {
  font-size: 1.4rem;
}

/*Player controller*/
.player-container {
  position: fixed;
  bottom: 0;
  height: 90px;
  /* background-color: red; */
  z-index: 1000;
  left: 0;
  right: 0;
}

.player-content {
  height: 100%;
}

.player-container-song {
  display: flex;
  align-items: center;
  padding-left: 30px;
  width: 30vw;
}

.player-media-left {
  width: 64px;
  height: 64px;
}

.player-media-left .thumb-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-right: 20px;
}

.player-media-content {
  margin-left: 16px;
  width: 245px;
}

.player-media-content h4 {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.player-media-content-namesong {
  white-space: nowrap;
  overflow: hidden;
}

.player-media-content-namesong:hover span {
  color: var(--text-hover-pink);
  cursor: pointer;
}

/*Control center*/
.player-container-control {
  width: 50vw;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player-container-control i {
  cursor: pointer;
}

.player-container-control .player {
  border-radius: 50%;
  border: 1px solid white;
  padding: 5px;
  position: relative;
  width: 40px;
  height: 40px;
}

.player-container-control .player i {
  position: absolute;
  left: 52%;
  top: 52%;
  transform: translate(-50%, -50%);
}

.player-container-control .player.playing .icon-play {
  display: none;
}

.player-container-control .player .icon-pause {
  display: none;
}
.player-container-control .player.playing .icon-pause {
  display: inline;
}

.player-control-btn {
  width: 260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  font-size: 2rem;
  flex: 2;
}

.random-song.isRandom {
  color: var(--color-option-icon-kick);
}

.repeat-song.isRepeat {
  color: var(--color-option-icon-kick);
}

/*Thanh thời gian to dưới cùng */

.player-control-time-song {
  position: relative;
  width: 600px;
  flex: 1;
}

.time-song-start {
  position: absolute;
  color: var(--text-color);
  left: -40px;
  top: 4px;
}

.time-song-end {
  position: absolute;
  color: var(--text-color);
  right: -40px;
  top: 4px;
}

.range-time-song {
  -webkit-appearance: none; /*Loại bỏ style mặc định*/
  appearance: none;
  position: absolute;
  top: 10px;
  width: 100%;
  height: 3px;
  outline: none;
  border-radius: 2px;
  background: var(--bg-content);
}

.range-time-song--fill {
  position: absolute;
  height: 3px;
  left: 0;
  top: 10px;
  background-color: white;
  z-index: 1;
  border-radius: 2px;
}
.range-time-song::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
}

.player-control-time-song:hover .range-time-song::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
  cursor: pointer;
  z-index: 100;
  background: var(--text-color);
}

/*Control right*/
.player-container-options {
  width: 20vw;
  position: absolute;
  right: 0;
  height: 90px;
}

.player-option-icon i:hover {
  cursor: pointer;
  background-color: var(--bg-content);
  padding: 6px;
  border-radius: 50%;
}

.player-option-adjust-volume {
  position: relative;
  width: 70px;
  height: 3px;
  margin-right: 16px;
}

/*Hidden icon volume*/

.btn-volume-mute {
  display: none;
}
.btn-volume-mute.show {
  display: inline;
}

.btn-volume-up.hide {
  display: none;
}

/*thumb volume*/
.range-volume {
  -webkit-appearance: none;
  appearance: none;
  width: 70px;
  height: 3px;
  outline: none;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background: var(--bg-content);
}

.range-volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 3px;
  height: 3px;
  cursor: pointer;
  z-index: 100;
}

.player-option-adjust-volume:hover .range-volume::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
  cursor: pointer;
  z-index: 100;
  background: white;
}

.volume-fill {
  position: absolute;
  width: 50%;
  height: 3px;
  left: 0;
  top: 0;
  background-color: white;
  z-index: 1;
  border-radius: 2px;
}

/*List player*/
.player-list-icon i {
  color: var(--text-color);
  font-size: 1.7rem;
  margin-left: 10px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.player-media-content span {
  color: var(--text-blur);
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 6px;
  display: block;
}

.player-media-right {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: var(--text-color);
}

span.live {
  width: 35px;
  height: 16px;
  background: red;
  margin-left: 10px;
  border-radius: 2px;
  font-size: 1.2rem;
  padding: 1px;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  line-height: 70px;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
}

.header__search {
  display: flex;
  align-items: center;
  height: 30px;
  line-height: 30px;
}

.header__search-left {
  font-size: 2.8rem;
  color: var(--text-color);
  cursor: pointer;
}

.header__search-left-icon {
  padding-right: 10px;
}

.header__search-right {
  font-size: 2.8rem;
  color: var(--text-color);
  opacity: 0.6;
  cursor: pointer;
}

.header__search-input:has(> .header__search-input-search:focus) {
  background-color: #6a39af;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.header__search-right-icon {
  padding-right: 10px;
}

.header__search-input {
  height: 40px;
  display: flex;
  background-color: var(--bg-content);
  border-radius: 20px;
  padding: 0 9px;
  position: relative;
}

.header__search-input-btn {
  cursor: pointer;
}

.header__search-icon {
  font-size: 2rem;
  color: var(--text-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.8;
}

.header__search-input-search {
  border: none;
  background: transparent;
  padding-left: 30px;
  width: 440px;
  font-size: 1.5rem;
}
.header__search-input-search::placeholder {
  color: var(--text-color);
  opacity: 0.8;
}

.header__search-input-history {
  position: absolute;
  top: 100%;
  color: var(--text-color);
  background-color: #6a39af;
  width: 100%;
  left: 0;
  display: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 5px 10px;
  z-index: 1;
}

.input-history-list {
  list-style: none;
}

.input-history-item {
  padding: 5px 10px;
}

.input-history-item:hover {
  cursor: pointer;
  background-color: #794db7;
  border-radius: 3px;
}

.input-history-item i {
  font-size: 1.5rem;
  opacity: 0.8;
}

.input-history-link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5rem;
  margin-left: 5px;
}

.header__search-input-search:focus {
  outline: none;
  color: var(--text-color);
}

.header__search-input-search:focus ~ .header__search-input-history {
  display: block;
}

.header__setting {
  display: flex;
  position: fixed;
  right: 20px;
}

.header__setting-icon {
  font-size: 2.2rem;
}

.header__setting-icon--white {
  color: var(--text-color);
}

.header__setting-theme-btn {
  border-radius: 50%;
  background-color: #4b206e;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-content);
  margin: 0 5px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.header__setting-upload-btn {
  border-radius: 50%;
  background-color: #4b206e;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-content);
  margin: 0 5px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.header__setting-setting-btn {
  border-radius: 50%;
  background-color: #4b206e;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-content);
  width: 40px;
  height: 40px;
  margin: 0 5px;
  position: relative;
  cursor: pointer;
}

.header__setting-menu {
  position: absolute;
  right: 20px;
  top: 130%;
  background-color: var(--primary-color);
  border-radius: 10px;
  z-index: 5;
  width: 240px;
  font-size: 1.5rem;
  display: none;
}

.header__setting-menu.open {
  display: block;
}

.header__setting-nav {
  color: var(--text-color);
  position: relative;
  padding: 15px 0;
}

.header__setting-nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: var(--text-color);
  border-top: 1px solid var(--text-color);
  z-index: 2;
  opacity: 0.2;
}

.setting-item {
  height: 50px;
  line-height: 30px;
  display: flex;
  padding: 12px 10px;
  cursor: pointer;
}

.setting-item:hover {
  background-color: #794db7;
}

.setting-item span {
  flex: 1;
}

.setting__item-icon {
  font-size: 1.7rem;
  padding-right: 8px;
}

.header__setting-subnav {
  color: var(--text-color);
  color: #dadada;
  padding: 15px 0;
}

.header__setting-subnav .setting-item:hover {
  opacity: 1;
  color: var(--text-color);
}

.header__setting-accout-btn {
  border-radius: 50%;
  background-color: #4b206e;
  margin: 0 5px;
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.header__setting-accout-btn img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.header__user {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 15px;
  z-index: 1;
}

.header__user-content {
  display: flex;
  justify-content: space-between;
}

.header__user-avatar {
  width: 95px;
  height: 95px;
  overflow: hidden;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.header__user-avatar img {
  width: 100%;
  height: 100%;
}

.header__user-name {
  color: var(--text-color);
  font-weight: 700;
  margin-top: 20px;
  font-size: 3rem;
}

.header__user-action {
  position: absolute;
  top: 20;
  right: 5px;
  z-index: 1;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.header__user-vip {
  color: var(--text-color);
  display: inline-block;
  background-color: #f8e71c;
  color: var(--black-color);
  border-radius: 20px;
  padding: 6px 19px;
  font-size: 1.3rem;
  cursor: pointer;
  z-index: 3;
}

.header__user-codevip {
  color: var(--text-color);
  font-size: 1.3rem;
  cursor: pointer;
  z-index: 3;
}

.header__user-logout {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.user-logout {
  position: absolute;
  width: 210px;
  height: 56px;
  right: 0;
  top: 150%;
  border-radius: 10px;
  background-color: var(--primary-color);
  align-items: center;
  display: none;
  cursor: pointer;
}

.user-logout.open {
  display: flex;
}

.user-logout span {
  font-size: 1.6rem;
  color: var(--text-color);
  display: inline-block;
  padding-left: 10px;
  opacity: 0.8;
}

.header__user-logout-icon {
  font-size: 2.7rem;
  padding-left: 10px;
  color: var(--text-color);
  opacity: 0.8;
}

.header__user-logout-three-dots {
  padding: 5px;
  border-radius: 50%;
  background-color: var(--bg-content);
  color: var(--text-color);
  font-size: 1.5rem;
}

.navbar-content {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  min-height: 52px;
  padding: 3px;
  align-items: center;
  margin-bottom: 30px;
}

.navbar-content__list {
  list-style: none;
  margin-left: 0;
  border-radius: 20px;
  background-color: var(--bg-content);
  height: 32px;
  line-height: 32px;
  padding: 3px;
  display: flex;
  align-items: center;
}

.navbar-content__item {
  display: inline-block;
  border-radius: 20px;
  min-width: 100px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  cursor: pointer;
  height: 26px;
  line-height: 26px;
  text-align: center;
}

.navbar-content__item.active {
  color: var(--text-hover);
  background-color: var(--tab-active-color);
}

.navbar-content__link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.2srem;
}

.body_content {
  padding: 0 5vw 100px;
}

.body_content__tab {
  display: none;
}

.body_content__tab.active {
  display: block;
}

.home_container__music {
  margin-bottom: 50px;
}

.home_container__music-header {
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
  font-size: 1.5rem;
}

.home_container__music-header-title {
  cursor: pointer;
  font-weight: 500;
}

.home_container__music-header-title:hover {
  color: #fe63da;
}

.music-header-action-upload {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  height: 32px;
}

.music-header-action-playAll {
  background-color: #e2298d;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  position: relative;
  transition: top linear 0.05s;
  top: 0;
  height: 32px;
}

.music-header-action-playAll:hover {
  top: -2px;
}

/* slide music */
.home_container__music-content {
  height: 244px;
}

.home_container__music-content-slide {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.music-content-slide-show {
  height: 230px;
  width: 244px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  position: relative;
}

/* will-change : Gợi ý cho trình duyệt tối ưu những thuộc tính sẽ thay đôi */
.music-content-slide-item {
  width: 230px;
  height: 230px;
  position: absolute;
  transition: all 0.9s;
  backface-visibility: hidden;
  will-change: transform, opacity;
  transform: perspective(1px) translateZ(0);
}

.music-content-slide-item.first {
  opacity: 1;
  transform: translate3d(0, 0, 80px) scale(1, 1);
}

.music-content-slide-item.second {
  opacity: 0.7;
  transform: translate3d(-27px, 0, 60px)
    scale(var(--scale-rate-second), var(--scale-rate-second));
}

.music-content-slide-item.third {
  opacity: 0.9;
  transform: translate3d(-54px, 0, 20px)
    scale(var(--scale-rate-third), var(--scale-rate-third));
}

.music-content-slide-item.fourth {
  opacity: 0.1;
  transform: translate3d(-54px, 0, 0)
    scale(var(--scale-rate-third), var(--scale-rate-third));
}

.music-content-slide-img {
  width: 100%;
  padding-top: 100%;
  border-radius: 8px;
}

.home_container__music-content-listSong {
  height: 100%;
  overflow-y: overlay;
}

.home_container__music-content-listSong:hover::-webkit-scrollbar-thumb {
  background-color: #888;
}

.home_container__music-content-listSong::-webkit-scrollbar {
  width: 4px;
  position: absolute;
}

.home_container__music-content-listSong::-webkit-scrollbar-track {
  background-color: transparent;
}

.home_container__music-content-listSong::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: transparent;
}

.home_container__music-content-listSong::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

.playList-container__item {
  color: var(--text-color);
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 60px;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
}

.playList-container__item.active {
  background-color: var(--bg-content);
}

.playList-container__item.active.isplaying {
  background-color: var(--bg-content);
}

.playList-container__item:hover {
  background-color: var(--bg-content);
}

.playList-container__item:hover .playList-container__img i {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
}

.playList-container__img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  position: relative;
  z-index: 1;
}

.playList-container__img i {
  position: absolute;
  /* top: 50%;
    right: 50%;
    transform: translate(50%,-50%); */
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  font-size: 2.5rem;
  z-index: 2;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  display: none;
}

.playList-container__item .songPlay-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  z-index: 100;
  display: none;
}

.playList-container__item.active.isplaying .songPlay-animation {
  display: block;
}

.playList-container__item.active.isplaying .icon-play-song {
  display: none;
}

.playList-container__song {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.playList-container__song-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 100%;
  width: 40%;
}

.song-name {
  font-size: 1.5rem;
  font-weight: 400;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}

.song-author {
  margin: 4px 0 0;
  display: block;
}

.song-author a {
  color: #928f95;
  text-decoration: none;
}

.song-author a:hover {
  color: #fe63da;
  text-decoration: underline;
}

.song-author {
  font-size: 1.2rem;
  display: flex;
  align-items: flex-end;
  color: #928f95;
}

.song-time {
  font-size: 1.2rem;
  display: flex;
  align-items: flex-end;
  color: #928f95;
  margin-left: 80px;
}

.playList-container__song-options {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.playList-song-btn {
  width: 35px;
  height: 35px;
  margin-left: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playList-song-btn:hover {
  background-color: var(--bg-content);
}

.song-options-tym__icon-fill {
  display: none;
  color: var(--color-option-icon-kick);
}

.song-options-tym__icon.hide {
  display: none;
}

.song-options-tym__icon-fill.show {
  display: block;
}

/* home playlist */

.home_container-header {
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--text-color);
  font-weight: 500;
  font-size: 1.5rem;
}

.home-header__control-icon {
  margin-left: 5px;
  padding: 7px;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.disabled {
  opacity: 0.6;
  cursor: default;
}

.home-header__title:hover {
  cursor: pointer;
  color: var(--text-hover-pink);
}

.home_container__Item-content {
  width: 100%;
  overflow: hidden;
}

.slider-main {
  height: 100%;
  transition: all ease 0.4s;
  overflow: scroll;
  scroll-behavior: smooth;
}

.slider-main::-webkit-scrollbar {
  display: none;
}

.playList-item,
.album-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  user-select: none;
}

.playList-item-create {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(33deg, #5a1eae -7%, #ce267a 117%);
  color: var(--text-color);
  cursor: pointer;
  user-select: none;
  width: 100%;
  background-clip: content-box;
}

.create_playList {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
}

.create_playList-icon {
  font-size: 3.5rem;
  font-weight: 100;
  margin-bottom: 10px;
}

.item-image-container {
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.playList-Album-item__img {
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  will-change: transform;
  transition: transform linear 0.4s;
}

.item-image-container:hover .overlay-item__play {
  visibility: visible;
}

.item-image-container:hover .playList-Album-item__img {
  transform: scale(1.12, 1.12);
}

.overlay-item__play {
  opacity: overlay;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.3);
  color: var(--text-color);
  visibility: hidden;
}

.overlay-item__heart-btn {
  font-size: 1.8rem;
  border-radius: 50%;
  padding: 5px;
}

.overlay-item__heart-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.overlay-item__play-btn {
  border-radius: 50%;
  border: 1px solid var(--text-color);
  font-size: 3rem;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-item__option-btn {
  font-size: 1.8rem;
  border-radius: 50%;
  padding: 5px;
}

.overlay-item__option-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.item__info {
  color: var(--text-color);
  font-size: 1.4rem;
}

.item__info-name {
  margin: 8px 0 4px;
  line-height: 1.3;
  cursor: pointer;
}

.item__info-name:hover {
  color: var(--text-hover-pink);
}

.item__info-author {
  font-size: 1.2rem;
  margin-top: 10px;
  color: var(--text-blur);
}

.no-wrap {
  display: flex;
  flex-wrap: nowrap;
}

/* Album */
.home_container__album {
  margin-top: 50px;
}

/* MV */
.mvItem-img {
  width: 100%;
  padding-top: 60%;
  border-radius: 6px;
  will-change: transform;
  transition: transform linear 0.4s;
}

.item-image-container:hover .mvItem-img {
  transform: scale(1.12, 1.12);
}

.overlayBtn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  border-radius: 50%;
  padding: 4px;
}

.overlayBtn-close:hover {
  background-color: var(--bg-content);
}

.mv-time {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: var(--text-color);
  font-size: 1.4rem;
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
}

.MV__info {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

.MV__info-img {
  width: 45px;
  height: 45px;
  margin: 8px 8px 4px 0;
  border-radius: 50%;
  overflow: hidden;
}

.img-author {
  padding-top: 100%;
}

/* Artist */

.artist-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.artist-author {
  text-align: center;
  color: var(--text-color);
  font-size: 1.4rem;
}

.artist-author:hover {
  color: var(--text-hover-pink);
  text-decoration: underline;
  cursor: pointer;
}

.artist-care h3 {
  font-size: 1.2rem;
  color: var(--text-blur);
  font-weight: 500;
  text-align: center;
}

.artist-cared-btn {
  background-color: var(--btn-pink);
  cursor: pointer;
}

/* Tab bai hat */

.playList-container__item-check,
.label-song {
  color: var(--text-blur);
}

.home_container__music-info {
  color: var(--text-blur);
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  height: 46px;
  font-weight: 500;
}

.home_container__music--title {
  padding-left: 25px;
}

/* Custom checkbox */

.label-song .input-check-song {
  display: none;
}

.label-song {
  position: relative;
  display: none;
}

.label-song::before {
  content: "";
  width: 18px;
  height: 18px;
  display: inline-block;
  background-color: transparent;
  /* border: 1px solid var(--text-blur); */
  cursor: pointer;
  border-radius: 2px;
  margin-right: 10px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5),
    0px 1px 0px rgba(255, 255, 255, 0.4);
  /* display: none; */
}

.label-song i {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: var(--text-color);
  font-size: 1.3rem;
  display: none;
}

.tabmusic-item:hover .music-note-icon {
  display: none;
}

.tabmusic-item:hover .label-song {
  display: block;
}

.music-note-icon {
  display: inline-block;
  font-size: 1.3rem;
  width: 18px;
}

.label-song input[type="checkbox"]:checked + .checksong-icon {
  display: inline-block;
}

/* tab upload */

.tab_upload-content {
  height: 220px;
  border-radius: 2px;
  background-color: var(--bg-content);
  width: 100%;
  text-align: center;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-music-upload {
  width: 90px;
  height: 90px;
  margin-bottom: 20px;
  background: url(https://zjs.zadn.vn/zmp3-desktop/releases/v1.3.18/static/media/music-icon.cfa4aa91.svg)
    no-repeat center center / contain;
}

.upload-body {
  color: var(--text-hover);
  font-size: 1.6rem;
  opacity: 0.6;
}
